<div class="row footer__wrap">
  <h3 class="col-12 col-5 col-lg-4 col-xl-3 footer__title__wrap"><%= link_to "Beer Shelf", root_path, class: "footer__title" %></h3>
  <div class="col-12 col-lg-8 footer__column__wrap">
    <p class="footer__column"><%= link_to "利用規約", class: "footer__column footer__column__terms" %></p>
    <p class="footer__column2 footer__column3">|</p>
    <p class="footer__column2"><%= link_to "プライバシーポリシー", class: "footer__column2 footer__column__privacy" %></p>
  </div>
</div>